<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" #loginform="ngForm" (ngSubmit)="login(loginform.value)">
                        <div class="form-label-group">
                            <input type="text" id="username" class="form-control" placeholder="Username" name="username"
                                ngModel required autofocus>
                            <label for="username">User Name</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="password" class="form-control" placeholder="Password"
                                name="password" ngModel required>
                            <label for="password">Password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]='!loginform.valid'
                            type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>