<div class="container">
    <div class="row mt-3">
        <div class="col-lg-12">
            <button class="btn btn-secondary btn-sm float-right" type="button" *ngIf='!showAddProject'
                (click)='showAddProject=true'>Add Project</button>
            <button class="btn btn-secondary btn-sm float-right" type="button" *ngIf='showAddProject'
                (click)='showAddProject=false'>That's It!</button>

        </div>
    </div>
    <div class="card mt-5" *ngIf='showAddProject'>
        <div class="card-header">
            <b>Add New Project</b>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="form" (ngSubmit)="addProject(form.value)"
                enctype="multipart/form-data">
                <div class="form-row">

                    <div class="col-md-4 mb-3">
                        <label for="name">Project Avatar</label>
                        <input type="file" class="form-control" id="avatar" name="avatar" formControlName="image"
                            (change)="onFileSelect($event)">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="name">Project name</label>
                        <input type="text" class="form-control" id="name" placeholder="Eg. Run Jenkins" name="name"
                            formControlName="name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="start">Duration (Days)</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="duration" placeholder="Duration"
                                formControlName="duration" aria-describedby="duration" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                            placeholder="E.g. Jenkins build has to be run for all dev servers"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <button class="btn btn-secondary btn-sm" type="submit" [disabled]='!form.valid'>Add Project</button>
            </form>
        </div>
    </div>
    <h6 class="mt-5" *ngIf="projectList.length>0"><b>Total Projects({{projectList.length}})</b></h6>
    <div class="form-row mt-3">
        <div class=" col-md-4 mb-3" *ngFor="let project of projectList">
            <app-project-item [project]="project" (getAllProjects)="getAllProjects()"></app-project-item>
        </div>
    </div>
</div>