<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <b>Project Details</b>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="editform" (ngSubmit)="updateProject(editform.value)"
                enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <img [src]="project.image" [alt]="project.name" class="img-fluid">
                        <label for="name">Change Project Avatar</label>
                        <input type="file" class="form-control" id="avatar" name="avatar" formControlName="image"
                            (change)="onFileSelect($event)">
                    </div>
                    <div class="col-md-8 mb-3">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name">Project name</label>
                                <input type="text" class="form-control" id="name" placeholder="Eg. Run Jenkins"
                                    name="name" formControlName="name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="start">Duration (Days)</label>
                                <div class="input-group">
                                    <input type="number" min=1 max=100 class="form-control" id="duration"
                                        placeholder="Duration" formControlName="duration" aria-describedby="duration"
                                        required>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="description">Description</label>
                                <textarea rows=10 class="form-control" id="description"
                                    placeholder="E.g. Jenkins build has to be run for all dev servers"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                </div>
                <div class="text-center">
                    <button class="btn btn-secondary btn-sm" type="submit" [disabled]='!form.valid'>Update Project
                        Details</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <button class="btn btn-secondary btn-sm float-right" type="button" *ngIf='!showAddTask'
                (click)='showAddTask=true'>Add
                New Task</button>
            <button class="btn btn-secondary btn-sm float-right" type="button" *ngIf='showAddTask'
                (click)='showAddTask=false'>That's It!</button>
        </div>
    </div>
    <div class="card mt-3" *ngIf='showAddTask'>
        <div class="card-header">
            <b>Add New Task</b>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="form" (ngSubmit)="addTask(form.value)"
                enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="name">Task name</label>
                        <input type="text" class="form-control" id="name" placeholder="Eg. Run Jenkins" name="name"
                            formControlName="name" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="start">Start date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="start" placeholder="Start Date"
                                formControlName="start" aria-describedby="duration" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="start">End date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="end" placeholder="End Date"
                                formControlName="end" aria-describedby="duration" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="description">Assign to </label>
                        <select formControlName="user" class="form-control">
                            <option disabled>Select User</option>
                            <option [ngValue]="user.id" *ngFor="let user of userList">{{user.username}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                            placeholder="E.g. Jenkins build has to be run for all dev servers"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <button class="btn btn-secondary btn-sm" type="submit" [disabled]='!form.valid'>Add Task</button>
            </form>
        </div>
    </div>
    <h6 class="mt-5" *ngIf="taskList.length>0"><b>Total Tasks({{taskList.length}})</b></h6>
    <div class="form-row mt-3">
        <div class=" col-md-4 mb-3" *ngFor="let task of taskList">
            <app-task-item [task]="task" [pid]="pid" (getAllTasks)="getAllTasks()"></app-task-item>
        </div>
    </div>
</div>