<div class="bg-light d-flex flex-row border rounded">
    <div class="pl-3 pt-2 pr-2 pb-2 w-100 ">
      <h6><b>{{task.name}}</b></h6>
            <small class="text-secondary">{{task.start_date}} to  {{task.end_date}}</small>
          <p class="text-right m-0"> <a (click)="deleteTask(task.id)" class="btn btn-outline-secondary btn-sm">Delete</a>&nbsp;&nbsp; <a  class="btn btn-outline-secondary btn-sm" [routerLink]="['/project/'+pid+'/task/'+task.id]" ><i class="far fa-user"></i> Details</a></p>
  </div>
</div>
