<div class="bg-light d-flex flex-row border rounded">
    <div class="p-0 w-25">
        <img [src]="project.image" [alt]="project.name" class="img-thumbnail border-0" />
    </div>
    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
        <h6> <b>{{project.name}}</b></h6>
        <small class="text-secondary">{{project.duration}} Days</small>
        <p class="text-right m-0"> <a (click)="deleteProject(project.id)"
                class="btn btn-outline-secondary btn-sm">Delete</a>&nbsp;&nbsp; <a
                class="btn btn-outline-secondary btn-sm" [routerLink]="['/project/'+project.id]"><i
                    class="far fa-user"></i>Details</a></p>
    </div>
</div>