/* You can add global styles to this file, and also import other style files */
nav{
    background: #FDBC00 !important;
}
.card-header{
    background-color: rgb(253, 188, 0);
  }
  .btn-secondary {
    color: #000;
    background-color: #fdbc00;
    border-color: #fdbc00;
}