html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; 
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
  }
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .footer-text{
    color: #fdbc00!important;
  }
