<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <b>Task Details</b>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="form" (ngSubmit)="updateTask(form.value)"
                enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="name">Task name</label>
                        <input type="text" class="form-control" id="name" placeholder="Eg. Run Jenkins" name="name"
                            formControlName="name" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="start">Start date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="start" placeholder="Start Date"
                                formControlName="start" aria-describedby="duration" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="start">End date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="end" placeholder="End Date"
                                formControlName="end" aria-describedby="duration" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="description">Assign to </label>
                        <select formControlName="user" class="form-control">
                            <option disabled>Select User</option>
                            <option [ngValue]="user.id" *ngFor="let user of userList">{{user.username}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                            placeholder="E.g. Jenkins build has to be run for all dev servers"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <button class="btn btn-secondary btn-sm" type="submit" [disabled]='!form.valid'>Update Task</button>
            </form>
        </div>
    </div>
</div>